.about 
{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}
.about  .left-ab
{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}
.about  .left-ab p
{
    
    margin: 1rem 0;
 
}
.about .right-div 
{
    max-width: 700px;
    height: 300px;
}
.right-div .img-container 
{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    text-align: center;
}
.img_0 
{
    width: 100%;
   height: 90%;
    border: 1px solid wheat;
    
}
.right-div top 
{

    height: 90%;
    width: 70%;
    
}
.right-div bottom
{
    height: 90%;
    width: 70%;
}
